<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.dao.LogMapper">
  <resultMap id="BaseResultMap" type="org.demo.entity.Log">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="opt_time" jdbcType="DATE" property="optTime" />
  </resultMap>
  
  <insert id="addLog" parameterType="org.demo.entity.Log">
    insert into log (operator,type,result)
    values (#{operator,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR})
  </insert>
 	
 <select id="selectAll" resultMap="BaseResultMap">
    select * from log
  </select>	
</mapper>